<%- include('layouts/header'); -%>
<div class="toast" id="message"
    style="position: absolute;top: 20px; right: 20px; z-index:1; background-color:rgb(255, 191, 210);">
    <div class="toast-header">
        <strong class="mr-auto"><i class="fa fa-grav"></i>Error!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
        <%= message %>
    </div>
</div>